doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_swedish_ci
        mapping_types:
            enum: string
        types:
            datetime: App\Doctrine\DBAL\Types\UTCDateTimeType
            datetimetz: App\Doctrine\DBAL\Types\UTCDateTimeType
            EnumLanguage: App\Doctrine\DBAL\Types\EnumLanguageType
            EnumLocale: App\Doctrine\DBAL\Types\EnumLocaleType
            EnumLogLogin: App\Doctrine\DBAL\Types\EnumLogLoginType
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            logging: false

when@prod:
    doctrine:
        dbal:
            logging: false
        orm:
            auto_generate_proxy_classes: false
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
