# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

[{composer.json,Makefile}]
indent_style = tab

[{.codeclimate.yml,main.yml,vulnerability-scan.yml,*.md}]
indent_size = 2
