# This file is a "template" of which env vars needs to be defined in your configuration or in an .env file
# Set variables here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=8822e9bb81605a603006c9260793d983
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2,192.168.0.0/0
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_NAME="symfony"
DATABASE_URL="mysql://root@127.0.0.1:3306/${DATABASE_NAME}?charset=utf8mb4&serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=af054e015d550967a9bda3d059b93461
###< lexik/jwt-authentication-bundle ###
