###> symfony/framework-bundle ###
.env
/var/
/vendor/
/web/bundles/
###< symfony/framework-bundle ###

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

## File-based project format:
*.iws

allowed_addresses_local.php

/build/

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###
