version: '3'
services:
    php:
        container_name: symfony-backend-php-fpm
        build:
            context: .
            dockerfile: ./Dockerfile_dev
            args:
                HOST_UID: $HOST_UID
                HOST_GID: $HOST_GID
        command: php-fpm
        user: $HOST_UID:$HOST_GID
        depends_on:
            - mysql
        volumes:
            - ./:/app:cached
            # Cannot use this because of the directory rights are forced for root user
            #- /app/var/
        environment:
            PHP_IDE_CONFIG: "serverName=app.localhost"
            # Eg. in GCP environment just set this environment variable
            # to your k8s configuration.
            #
            # https://symfony.com/doc/current/deployment/proxies.html
            TRUSTED_PROXIES: "127.0.0.1,REMOTE_ADDR"

    nginx:
        container_name: symfony-backend-nginx
        build:
            context: ./docker/nginx/
            args:
                HOST_UID: $HOST_UID
                HOST_GID: $HOST_GID
        user: $HOST_UID:$HOST_GID
        depends_on:
            - php
        ports:
            - 8000:80
        volumes:
            - ./:/app:cached
            # Cannot use this because of the directory rights are forced for root user
            #- /app/var/

    mysql:
        container_name: symfony-backend-mysql
        build:
            context: ./docker/mysql/
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment:
            MYSQL_ROOT_PASSWORD: password
        ports:
            - 3310:3306
        volumes:
            - mysql:/var/lib/mysql

volumes:
    mysql:
