includes:
    - vendor/symplify/easy-coding-standard/config/psr2.neon
    - vendor/symplify/easy-coding-standard/config/php71.neon
    - vendor/symplify/easy-coding-standard/config/clean-code.neon
    #- vendor/symplify/easy-coding-standard/config/symplify.neon
    - vendor/symplify/easy-coding-standard/config/common.neon

parameters:
    exclude_checkers:
        - PhpCsFixer\Fixer\CastNotation\CastSpacesFixer
        - PhpCsFixer\Fixer\ClassNotation\ClassAttributesSeparationFixer
        - PhpCsFixer\Fixer\LanguageConstruct\DeclareEqualNormalizeFixer
        - PhpCsFixer\Fixer\NamespaceNotation\SingleBlankLineBeforeNamespaceFixer
        - PhpCsFixer\Fixer\Operator\NotOperatorWithSuccessorSpaceFixer
        - Symplify\CodingStandard\Fixer\Commenting\RemoveUselessDocBlockFixer
        - Symplify\CodingStandard\Fixer\Strict\BlankLineAfterStrictTypesFixer
    skip_codes:
        - PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\AssignmentInConditionSniff.Found
        - SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.UselessParameterAnnotation
        - SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.UselessReturnAnnotation
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.MissingParameterTypeHint:
            - *src/Entity/Traits/UserSerializer.php
            - *src/Repository/Traits/LoadUserByUserNameTrait.php
            - *src/Security/ApiKeyAuthenticator.php
            - *src/Security/ApiKeyUserProvider.php
            - *src/Security/IsUserHimselfVoter.php
            - *src/Security/UserProvider.php
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.MissingTraversableReturnTypeHintSpecification:
            - *src/Kernel.php
