parameters:
    level: 5
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations/*

    symfony:
        container_xml_path: '%currentWorkingDirectory%/var/cache/test/srcApp_KernelTestDebugContainer.xml'

    doctrine:
        repositoryClass: App\Repository\BaseRepository

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
