parameters:
    level: max
    paths:
        - src
        - tests
includes:
    - tools/02_phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - tools/02_phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/02_phpstan/vendor/phpstan/phpstan-symfony/extension.neon
