<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="date.timezone" value="UTC" />

        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="SHELL_VERBOSITY" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0" />
        <env name="APP_SECRET" value="93b60d4136baea83cf3821ee6a0a2adb"/>
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.1,127.0.0.2" -->
        <!-- env name="TRUSTED_HOSTS" value="localhost,example.com" -->
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- Configure your db driver and server_version in config/packages/doctrine.yaml -->
        <!-- <env name="DATABASE_URL" value="mysql://db_user:db_password@127.0.0.1:3306/db_name"/> -->
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <!-- <env name="JWT_SECRET_KEY" value="config/jwt/private.pem"/> -->
        <!-- <env name="JWT_PUBLIC_KEY" value="config/jwt/public.pem"/> -->
        <!-- <env name="JWT_PASSPHRASE" value="af054e015d550967a9bda3d059b93461"/> -->
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- ###+ nelmio/cors-bundle ### -->
        <!-- <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost(:[0-9]+)?$"/> -->
        <!-- ###- nelmio/cors-bundle ### -->
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <testsuites>
        <testsuite name="Functional tests">
            <directory>./tests/Functional/</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory>./tests/Integration/</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory>./tests/Unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <file>src/Kernel.php</file>
            </exclude>
            <exclude>
                <directory>src/DataFixtures</directory>
            </exclude>
            <exclude>
                <directory>src/Command</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/report" lowUpperBound="55" highLowerBound="90" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-text" target="php://stdout" showOnlySummary="true" />
        <log type="junit" target="build/logs/junit.xml" />
    </logging>
</phpunit>
