# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.config: '%env(json:file:APPLICATION_CONFIG)%'
    env(DATABASE_NAME): '%env(string:key:DATABASE_NAME:json:file:APPLICATION_CONFIG)%'
    env(DATABASE_URL): '%env(string:key:DATABASE_URL:json:file:APPLICATION_CONFIG)%'
    env(DEFAULT_URI): '%env(string:key:DEFAULT_URI:json:file:APPLICATION_CONFIG)%'
    env(JWT_PASSPHRASE): '%env(string:key:JWT_PASSPHRASE:json:file:APPLICATION_CONFIG)%'
    env(JWT_PRIVATE_KEY_PATH): '%env(string:key:JWT_SECRET_KEY:json:file:APPLICATION_CONFIG)%'
    env(JWT_PUBLIC_KEY_PATH): '%env(string:key:JWT_PUBLIC_KEY:json:file:APPLICATION_CONFIG)%'
    env(CORS_ALLOW_ORIGIN): '%env(string:key:CORS_ALLOW_ORIGIN:json:file:APPLICATION_CONFIG)%'
    env(TRUSTED_PROXIES): '%env(string:key:TRUSTED_PROXIES:json:file:APPLICATION_CONFIG)%'
    locale: 'en'

services:
    # default configuration for services in *this* file
    _defaults: &_services_defaults
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    _instanceof:
        AutoMapperPlus\MapperInterface:
            tags: [ 'app.stopwatch' ]
        Symfony\Component\EventDispatcher\EventSubscriberInterface:
            tags: [ 'app.stopwatch' ]
        Symfony\Component\HttpKernel\Controller\ValueResolverInterface:
            tags: [ 'app.stopwatch' ]

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/EventListener/'
            - '../src/Kernel.php'

    App\ValueResolver\EntityValueResolver:
        tags:
            - { name: controller.argument_value_resolver, priority: 150 }

when@dev:
    services:
        App\Tests\E2E\Rest\src\:
            resource: '../tests/E2E/Rest/src/*'

        App\Tests\E2E\Rest\Traits\Actions\src\:
            resource: '../tests/E2E/Rest/Traits/Actions/src/*'

        App\Tests\E2E\TestCase\:
            resource: '../tests/E2E/TestCase/*'

        App\Tests\Integration\Helpers\src\:
            resource: '../tests/Integration/Helpers/src/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'

        doctrine.dbal.default_connection.stopwatch:
            class: Doctrine\DBAL\Connection
            decorates: doctrine.dbal.default_connection
            factory: [ '@App\Decorator\StopwatchDecorator', decorate ]
            arguments: [ '@doctrine.dbal.default_connection.stopwatch.inner' ]

        symfony.component.serializer.stopwatch:
            class: Symfony\Component\Serializer\Serializer
            decorates: serializer
            factory: [ '@App\Decorator\StopwatchDecorator', decorate ]
            arguments: [ '@symfony.component.serializer.stopwatch.inner' ]

when@test:
    services:
        _defaults:
            <<: *_services_defaults
            public: true

        App\Tests\DataFixtures\:
            resource: '../tests/DataFixtures/*'

        App\Tests\E2E\Rest\src\:
            resource: '../tests/E2E/Rest/src/*'

        App\Tests\E2E\Rest\Traits\Actions\src\:
            resource: '../tests/E2E/Rest/Traits/Actions/src/*'

        App\Tests\E2E\TestCase\:
            resource: '../tests/E2E/TestCase/*'

        App\Tests\Integration\Helpers\src\:
            resource: '../tests/Integration/Helpers/src/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'
