# Default ignored files
/commandlinetools/
/dictionaries/
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Other 
codeception.xml
phpspec.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
